<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

      layout:decorate="layout1">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.5/css/bootstrap.min.css" />
    <title>Document</title>
</head>
<body>
    <h2 class="p-3" sec:authorize="hasRole('ADMIN')">Products</h2>

<div class="container p-3" layout:fragment="content">
   <div class="p-3">
       <a class="btn btn-primary" th:href="@{/admin/newProduct}">New Product</a>
   </div>
    <table class="table table-striped">
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        </thead>

        <tbody>
        <tr th:each="p:${productsList}" >
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
            <td th:text="${p.quantity}"></td>
            <td  sec:authorize="hasRole('ADMIN')">
               <form method="post" th:action="@{/admin/delete(id=${p.id})}" >
                    <button type="submit" class="btn btn-danger"> Delete</button>
               </form>
<!--                <a class=" btn btn-danger" onclick="return confirm('Are you sure?')"-->
<!--&lt;!&ndash;                   th:href="@{/admin/delete(id=${p.id})}">Delete</a>&ndash;&gt;-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>